// sass --watch SASS/style.scss:assets/style.css

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$main-font-family: "Roboto", sans-serif;
$secondary-font-family: "Shrikhand", serif;

$background: #F6F6F6;
$main-color: #9356DC;
$dark-grey-color: #353535;
$grey-color: #7E7E7E;
$light-grey-color: #EAEAEA;
$green-color: #008766;
$light-green-color: #99E2D0;

@mixin shadow-header {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
@mixin shadow-card {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
@mixin display {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin button-gradient {
    background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    border-radius: 50px;
}
@mixin card-etape {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 30px;
    height: 72px;
    border-radius: 20px;
}
@mixin card-etape-before {
    position: absolute;
    left: 20px;
    height: 24px;
    width: 24px;
    color: #FFFFFF;
    border-radius: 24px;
}

body {
    max-width: 375px;
    font-family: $main-font-family;
}
a {
    text-decoration: none;
    color: inherit;
}

//********** Header **********//
.container__header {
    @include shadow-header;
    position: relative;

    .container-logo {
        @include display;
        @include shadow-header;
        position: relative;
        height: 63px;
        .logo {
            width: 197px;
            height: 36px;
        }
    }
    .container__localisation {
        @include display;
        gap: 20px;
        height: 50px;
        background: $light-grey-color;
        .fa-location-dot {
            color: $dark-grey-color;
        }
        .txt-localisation {
            color: $dark-grey-color;
            font-size: 16px;
            font-weight: 500;
        }
    }
}

//********** Section title **********//
.container__presentation {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding: 30px 30px 50px;
    background: $background;

    .presentation-title {
        padding: 0 20px;
        margin-bottom: 20px;
    }
    .presentation-txt {
        font-size: 18px;
        font-weight: 300;
        color: $dark-grey-color;
    }
    .container__presentation-link {
        @include button-gradient;
        @include display;
        height: 50px;
        margin: 0 50px;
        filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.3));
        cursor: pointer;
        .presentation-link {
            color: #FFFFFF;
            font-weight: 500;
        }
    }
    .container__presentation-link:hover {
        filter: brightness(1.2);
    }
}

//********** Section fonctionnement **********//
.container-fonctionnement {
    padding: 50px 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .container-etapes {
        display: flex;
        flex-direction: column;
        padding-left: 12px;
        gap: 30px;

        .card-etape-one {
            @include shadow-card;
            @include card-etape;
            background: $background;
            .fa-mobile-screen-button {
                color: $grey-color;
            }
            .etape-title {
                font-size: 16px;
            }
        }
        .card-etape-one::before {
            @include display;
            @include card-etape-before;
            content: "1";
            background: $main-color;
        }
        .card-etape-two {
            @include shadow-card;
            @include card-etape;
            background: $background;
            .fa-list-ul {
                color: $grey-color;
            }
            .etape-title {
                font-size: 16px;
            }
        }
        .card-etape-two::before {
            @include display;
            @include card-etape-before;
            content: "2";
            background: $main-color;
        }
        .card-etape-three {
            @include shadow-card;
            @include card-etape;
            background: $background;
            .fa-store {
                color: $main-color;
            }
            .etape-title {
                font-size: 16px;
            }
        }
        .card-etape-three::before {
            @include display;
            @include card-etape-before;
            content: "3";
            background: $main-color;
        }
    }
}

//********** Section restaurants **********//
.container__restaurants {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 50px 20px 50px;
    background: $background;

    .container__cards-restaurants{
        display: flex;
        flex-direction: column;
        gap: 20px;

        .card-restaurant-new, .card-restaurant {
            border-radius: 15px;
            background: #FFFFFF;
            height: 251px;
            .img-restaurant {
                object-fit: cover;
                width: 100%;
                height: 68%;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }
            .img-position-bottom {
                object-position: bottom;
            }
            .container__presentation-restaurant {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 32%;
                padding: 0 20px 5px 10px;
                .presentation-restaurant-title {
                    margin-bottom: 5px;
                    font-size: 18px;
                    font-weight: 700;
                }
                .presentation-restaurant-txt {
                    font-size: 17px;
                    font-weight: 300;
                }
            }
        }
        .card-restaurant-new::before {
            @include display;
            content: "Nouveau";
            position: absolute;
            margin: 15px 0 0 240px;
            border-radius: 2px;
            width: 80px;
            height: 29px;
            font-size: 14px;
            font-weight: 500;
            color: $green-color;
            background: $light-green-color;
        }
    }

}