* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  max-width: 375px;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 377px) and (max-width: 1920px) {
  .main-container {
    max-width: 1440px;
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.fa-solid {
  color: #9356DC;
}

.container__header {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}
.container__header .container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  height: 63px;
}
.container__header .container-logo .logo {
  width: 197px;
  height: 36px;
}
.container__header .container__localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 50px;
  background: #EAEAEA;
}
.container__header .container__localisation .fa-location-dot {
  color: #353535;
}
.container__header .container__localisation .txt-localisation {
  color: #353535;
  font-size: 16px;
  font-weight: 500;
}
.container__presentation {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  padding: 30px 30px 50px;
  background: #F6F6F6;
}
.container__presentation .presentation-title {
  padding: 0 20px;
  margin-bottom: 20px;
}
.container__presentation .presentation-txt {
  font-size: 18px;
  font-weight: 300;
  color: #353535;
}
.container__presentation .container__presentation-link {
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 218px;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.3));
  cursor: pointer;
}
.container__presentation .container__presentation-link .presentation-link {
  color: #FFFFFF;
  font-weight: 500;
}
.container__presentation .container__presentation-link:hover {
  filter: brightness(1.2);
}
@media screen and (min-width: 377px) and (max-width: 1920px) {
  .container__presentation .presentation-title {
    font-size: 40px;
  }
}

.container-fonctionnement {
  padding: 50px 10px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.container-fonctionnement .fonctionnement-title {
  padding-left: 10px;
}
.container-fonctionnement .container-etapes {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 12px;
  gap: 30px;
}
.container-fonctionnement .container-etapes .card-etape-one {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  padding-left: 30px;
  width: 335px;
  height: 72px;
  border-radius: 20px;
  background: #F6F6F6;
}
.container-fonctionnement .container-etapes .card-etape-one .fa-mobile-screen-button {
  color: #7E7E7E;
}
.container-fonctionnement .container-etapes .card-etape-one .etape-title {
  font-size: 16px;
}
.container-fonctionnement .container-etapes .card-etape-one::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
  height: 24px;
  width: 24px;
  color: #FFFFFF;
  border-radius: 24px;
  content: "1";
  background: #9356DC;
}
.container-fonctionnement .container-etapes .card-etape-two {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  padding-left: 30px;
  width: 335px;
  height: 72px;
  border-radius: 20px;
  background: #F6F6F6;
}
.container-fonctionnement .container-etapes .card-etape-two .fa-list-ul {
  color: #7E7E7E;
}
.container-fonctionnement .container-etapes .card-etape-two .etape-title {
  font-size: 16px;
}
.container-fonctionnement .container-etapes .card-etape-two::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
  height: 24px;
  width: 24px;
  color: #FFFFFF;
  border-radius: 24px;
  content: "2";
  background: #9356DC;
}
.container-fonctionnement .container-etapes .card-etape-three {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  padding-left: 30px;
  width: 335px;
  height: 72px;
  border-radius: 20px;
  background: #F6F6F6;
}
.container-fonctionnement .container-etapes .card-etape-three .fa-store {
  color: #9356DC;
}
.container-fonctionnement .container-etapes .card-etape-three .etape-title {
  font-size: 16px;
}
.container-fonctionnement .container-etapes .card-etape-three::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
  height: 24px;
  width: 24px;
  color: #FFFFFF;
  border-radius: 24px;
  content: "3";
  background: #9356DC;
}
@media screen and (min-width: 768px) and (max-width: 1920px) {
  .container-fonctionnement .container-etapes {
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }
  .container-fonctionnement .fonctionnement-title {
    padding-left: 170px;
  }
}

.container__restaurants {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 50px 20px 50px;
  background: #F6F6F6;
}
.container__restaurants .container__cards-restaurants {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container__restaurants .container__cards-restaurants .card-restaurant-new, .container__restaurants .container__cards-restaurants .card-restaurant {
  border-radius: 15px;
  background: #FFFFFF;
  height: 251px;
}
.container__restaurants .container__cards-restaurants .card-restaurant-new .img-restaurant, .container__restaurants .container__cards-restaurants .card-restaurant .img-restaurant {
  object-fit: cover;
  width: 100%;
  height: 68%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.container__restaurants .container__cards-restaurants .card-restaurant-new .img-position-bottom, .container__restaurants .container__cards-restaurants .card-restaurant .img-position-bottom {
  object-position: bottom;
}
.container__restaurants .container__cards-restaurants .card-restaurant-new .container__presentation-restaurant, .container__restaurants .container__cards-restaurants .card-restaurant .container__presentation-restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32%;
  padding: 0 20px 5px 10px;
}
.container__restaurants .container__cards-restaurants .card-restaurant-new .container__presentation-restaurant .presentation-restaurant-title, .container__restaurants .container__cards-restaurants .card-restaurant .container__presentation-restaurant .presentation-restaurant-title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
}
.container__restaurants .container__cards-restaurants .card-restaurant-new .container__presentation-restaurant .presentation-restaurant-txt, .container__restaurants .container__cards-restaurants .card-restaurant .container__presentation-restaurant .presentation-restaurant-txt {
  font-size: 17px;
  font-weight: 300;
}
.container__restaurants .container__cards-restaurants .card-restaurant-new::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "Nouveau";
  position: absolute;
  margin: 15px 0 0 240px;
  border-radius: 2px;
  width: 80px;
  height: 29px;
  font-size: 14px;
  font-weight: 500;
  color: #008766;
  background: #99E2D0;
}

.container__footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #353535;
  padding: 30px;
}
.container__footer-links {
  color: #FFFFFF;
}
.container__footer-links .footer-link {
  margin-bottom: 10px;
}
.container__footer-links .footer-link .fa-utensils, .container__footer-links .footer-link .fa-handshake-angle {
  margin-right: 10px;
  width: 11px;
}
.container__footer-links .footer-link .fa-solid {
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
